<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='login' method="POST">
        {%csrf_token%}
        <h4>Hi User kindly set your new password...</h4>
        <input type="password1" name="password1" placeholder="Password"><br>
        <input type="password2" name="password2" placeholder="Confirm Password"><br>
        <input type="submit" ><br>
        <!-- <a href="passwordreset">Reset Password?..</a> -->

    </form>
    <!-- {% for msg in messages%}
    <h3>{{msg}}</h3>
    {% endfor %} -->
</body>
</html>