<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <form action='passwordreset' method="POST">
        {%csrf_token%}
        <!-- <input type="text" name="username" placeholder="User Name"><br>-->
        <input type="text" name="email" placeholder="Enter Email Address"><br> 
        <input type="submit" ><br><br>

    </form>
    {% for msg in messages%}
    <h3>{{msg}}</h3>
    {% endfor %}
</body>
</html>